[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CA2225: Operator overloads have named alternates
dotnet_diagnostic.CA2225.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1014: Mark assemblies with CLSCompliant
dotnet_diagnostic.CA1014.severity = none

# RS0017: Symbol 'static InteropTypes.Graphics.Drawing.Point3.Pair.AreConnected(in InteropTypes.Graphics.Drawing.Point3.Pair a, in InteropTypes.Graphics.Drawing.Point3.Pair b) -> bool' is part of the declared API, but is either not public or could not be found
dotnet_diagnostic.RS0017.severity = error
