<?xml version="1.0" encoding="utf-8"?>
<configuration>  

  <packageSourceCredentials>
    <testCredentialsClear>
      <add key="Username" value="test1" />
      <add key="ClearTextPassword" value="12345" />
    </testCredentialsClear>
    <testCredentials>
      <add key="Username" value="test1" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAnxDo86szu0aBZcZEi7eJeQAAAAACAAAAAAAQZgAAAAEAACAAAACjcG2T8NrGHs+Ht7SphvI4pCXK2J40NsxMX4zmSG4tYwAAAAAOgAAAAAIAACAAAADbH3OfPx3qQ3GhAemkdT9utxP6mvomydWTSSodvEtT7hAAAAClO4c61TUEHN0Gi/2XcKrMQAAAAIKszie6xGaEjQhn1qbkdHsIZmUdzSxk8fuqcrMYRaBR1sGecLmgGrWWgFDdMYEtwOfqOhpLYXqihGgzLeqrBaY=" />
    </testCredentials>
  </packageSourceCredentials>

</configuration>